:root {
    /* Core colors */
    --primary: hsl(30, 39%, 78%);
    --secondary:hsl(172, 100%, 9%);
    --tertiary: hsl(27, 68%, 63%);
    --textColorlight: #ffffff;
  }
  body {
    background: var(--primary);
}
main {
    width: 100vw;
    display:grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(100px, auto));
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {

    /* VARIABLES */

    /* Typography */
  --headingFont: 'Merriweather', serif;
  --bodyFont: 'Playfair-Display', sans-serif;
}
.primary-block {
    display: grid;
    grid-column: 2 / 8;
    grid-row: 1 / 4;
    background: var(--primary);
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.secondary-block {
    display: grid;
    grid-column: 8 / 13;
    grid-row: 1 / 4;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.tertiary-block {
    display: grid;
    grid-column: 1 / 13;
    grid-row: 4 / 5;
    background: var(--secondary);
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.nav-menu {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 30px;
    padding:1rem;

}

.home-button {
    grid-column: 1/13;
    grid-row: 1/2;
}


